# 忽略 __pycache__ 目录
__pycache__/

# 忽略 .DS_Store 文件
.DS_Store
._.DS_Store

# 忽略 Python 编译文件
*.pyc
*.pyo
*.pyd

# 大文件目录
14_data_process/data/
14_data_process/outputs/
local_data_process/data/
local_data_process/output/

# 配置信息
14_data_process/load_data.py
local_data_process/load_data.py
